* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  width: 785px;
  height: 100%;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  overflow-y: scroll;
}

#container {
  width: 100%;
  padding: .25rem;
}

#container-header h1 {
  font-size: 12px;
  margin: 0;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.button {
  font-family: Roboto, system-ui, sans-serif;
  align-items: center;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(26, 115, 232);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 42px;
  justify-content: center;
  min-width: 5.14em;
  outline-width: 0;
  padding: 8px 16px;
  position: relative;
  user-select: none;
  background: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: rgba(66, 133, 244, 0.04);
  border-color: 210, 227, 252;
}

.button.primary {
  background: rgb(26, 115, 232);
  color: #fff;
  border-color: rgb(26, 115, 232);
}

.button.primary:hover {
  background: rgba(26, 115, 232, 0.9);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

.button.delete {
  background: rgb(232, 17, 17);
  color: #fff;
  border-color: rgb(232, 17, 17);
  justify-self: flex-end;
}

.button.delete:hover {
  background: rgba(232, 17, 17, 0.9);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

.button.edit,
.button.delete {
  margin-left: .7rem;
}

input[type="text"] {
  border: 2px solid rgba(26, 115, 232, 0.4);
  padding: 8px;
  border-radius: 4px;
  display: block;
  width: 80%;
  height: 42px;
  margin: 5px 0;
}

.results {
  width: 100%;
  padding: .75rem .5rem;
}

.result-div {
  width: 100%;
  border: 1px solid rgba(26, 115, 232, 0.4);
  border-radius: 4px;
  padding: .25rem .5rem;
  margin: .25rem 0;
  cursor: pointer;
  position: relative;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tags-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.show::after {
  content: var(--tooltip-content);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  transform: translate(.5rem, -75%);
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
}

.result-title {
  margin: 0;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
